.w1 {
    width: 25%;
    margin: 0em;
    padding: 0em;
}

.h1 {
    height: 2em;
    margin: 0em;
    padding: 0em;
}

.w4 {
    width: 100%;
    margin: 0em;
    padding: 0em;
}

.button {
    border: none;
}

.number {
    background-color: lightgray;
}

.symbol {
    background-color: cornflowerblue;
}

.clear {
    background-color: limegreen;
}

.display {
    background-color: white;
}