.h1 {
    padding: 0em;
    margin: 0em;
    height: 2em;
}

.button {
    border: none;
    transition: background-color 0.1s;
}

.number { background-color: lightgray; }
.number:hover { background-color: darkgray; }

.symbol { background-color: lightgray; }
.symbol:hover{ background-color: cornflowerblue; }

.command { background-color: lightgray; }
.command:hover { background-color: limegreen; }

.display {
    background-color: white;
    text-align: right;
}